:root.theme-dark {
	--main-background-image: url(/images/cover-image-dark.png);
	--main-background-color: #000028;
	--title-short-text-color: #DB00FF;
	--title-text-color: #000028;
	--menu-color: #FF0070;
	--menu-color-rgb: rgba(255, 0, 112, 0.4);
	--accent-color: #FF0070;
	--menu-focus-color: #FF0070;
	--answer-text-color: #F1B2CE;
	--answer-short-text-color: #000028;
	--question-text-color: #FF0070;
	--corner-color: #FF0070;
	--shadow-accent-color: #FF0070;
}

@media (prefers-color-scheme: dark) {
	:root {
		--main-background-image: url(/images/cover-image-dark.png);
		--main-background-color: #000028;
		--title-text-color: #000028;
		--title-short-text-color: #DB00FF;
		--accent-color: #FF0070;
		--menu-color: #FF0070;
		--menu-color-rgb: rgba(255, 0, 112, 0.4);
		--answer-text-color: #F1B2CE;
		--answer-short-text-color: #000028;
		--question-text-color: #FF0070;
		--corner-color: #FF0070;
		--shadow-accent-color: #FF0070;
	}
}
